/******************BASICS***************/
body {
    font-size: 20px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.centered {
    text-align: center;
}
#email {
    color: white;
}
.container {
    margin-top: 2em;
    margin-bottom: 2em;
}
img {
    max-width: 100%;
}

/****************ÜBERMICH**************
.text {
    background-color: rgb(9, 169, 227, 0.5);
}
******/


/***TITELBILD DESKTOP NICHT SICHTBAR***/

@media (min-width: 70em) {
    .not-visible-desktop {
        display: none;
    }
}

@media (max-width: 70em) {
    .not-visible-mobile {
        display: none;
    }
}


/****************REFERENZEN********************/







.image-wrap {
    max-width: 980px;
    margin: auto;
    overflow: hidden;
  }
  .images {
    display: flex;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .images li {
    width: 33.3333%;
    flex: 1 0 33.3333%;
    max-width: 33.3333%;
    padding: 10px;
  }
  .images img {
    width: 100%;
    height: auto;
  }







.slides {
	display: none;
	max-width: 100%;
    margin-bottom: 10%;
}

.animate-left {
	position: relative;
	animation: animateleft 0.8s
}

@keyframes animateleft { 
	from { left :-500px; opacity:0 } 
	to { left:0; opacity:1 }
}


#referenzen {
    text-align: center;
}
#Bildergalerieflexbox {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-content: space-between;
}

#bildergaleriebox {
    margin-bottom: 5%;
}


/******************KONTAKT**************************/

.bg-color-footer {
    background-color: rgb(33, 118, 173);
}

  #kontakt {
    color: white;
    margin: 0 auto;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33, 118, 173);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

@media (max-width: 70em) {
    #kontakt {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
    }
}

.link {
    color: white !important;
}

#referenzen {
    margin-bottom: 7em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}