/******************BASICS***************/
html {
    scroll-behavior: smooth;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    margin: 0 0;
	text-align: center;
    box-sizing: border-box;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
img {
    border: solid white;
    max-width: 100%;
}

ul {
    list-style-position: inside;
}


/******************WHATSAPP-BUTTON**************/
.float{
	position:fixed;
	width:100px;
	height:100px;
	bottom:10px;
	left:11px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
#whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1em;
}
.float:hover {
    transform: scale(1.05);
}

/******************HEADERBILD****************/
#header {
	display: flex;
    justify-content: center;
    animation: fadein 0.25s ease-in;
}
@keyframes fadein {
    0% {transform:scale(0)}
    70% {transform:scale(0.8)}
    100% {transform:scale(1)}
}

/******************TITEL MIT LOGO*****************/
#titel {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
    padding-top: 3em;
}
@media (max-width: 70em) {
    #unterüberschrift {
        display: none;
    }
	#titel {
		flex-flow: row wrap;
	}
}

.einleitung {
    padding-left: 140px;
    padding-right: 140px;
}

@media (max-width: 70em) {
    .einleitung {
        padding: 0;
    }
}

/****************MENU********************/
.navbar {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: rgb(33, 118, 173);
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /****FLEX NUR BEI TABLET???????*******/
  @media (max-width: 70em) {
    .navbar {
        visibility: hidden;
        justify-content: space-evenly;
    }
}
  
  .navbar a:hover {
    background: rgb(20, 28, 74);
    color: white;
  }
  .navbar a {
    transition: transform .2s;
    }
    .navbar a:hover {
      transform:scale(1.1);
    }
  

  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }


/******************BILD MIT SCROLLFUNKTION**************/

  #zwischenueberschrift {
    padding: 100 100 100 100;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(stock3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



/******************INHALTSBOXEN**************/
.flex {
    margin: 0 auto;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 80%;
}

#zentriert {
    align-items: center;
}

.content {
	display: flex;
    justify-content: center;
	flex-flow: row wrap;
}
@media (max-width: 70em) {
    .flex, .content{
        flex-flow: row wrap;
    }
}





/******************TO THE TOP BUTTON**************************/
#myBtn {
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99;
    border: none;
    outline: none; 
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
      

/******************KONTAKT**************************/

  #kontakt {
    color: white;
    margin: 0 auto;
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(33, 118, 173);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}

@media (max-width: 70em) {
    #kontakt {
        flex-flow: row wrap;
    }
}